/*CSS GLOBALS*/
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
    margin: 0;
    padding: 0;
   }
   
   html{
       width: 100vw;
       height: 100vh;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(/img/bkg/playas-bkg.jpg);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
     font-weight: 400;
    -webkit-font-smoothing: antialiased; 
   }
/* END CSS GLOBALS*/

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}

.nav-color{
    color:whitesmoke !important;
    font-size: 2rem !important;
    font-weight: 900 !important;
}

@media(min-width: 540px){

}
  
@media(min-width: 960px){

}
.card{
  list-style: none;
  position: relative;
  background-color: transparent !important;
  border:none !important;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 55%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.6) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.01) translateZ(0);
  filter: brightness(0.8);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(1.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: relative;
  top: 0;
  height: auto;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
input.buscar-punto {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  width: auto;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid white;
  outline: none; /* Add this line to remove the outline */
}

input.buscar-punto:focus {
  border-color: transparent;
  border-bottom: 1px solid white;
  box-shadow: none;
}
::placeholder {
  color: white; /* Change the color value as per your requirement */
  opacity: 1; /* Ensure the placeholder text is fully visible */
}
.playa-text{
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Inter';
}